.Home {

}
.SectionCard {
  text-align: center;
}
.SectionCard > p {
  text-align: left;
}
.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 25px;
  width: 100vw;
  max-width: 320px;
  height: auto;
}

.ContainerImg {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
}
.ContainerImg img {
  width: 100%;
  height: 100%;
}
.BackgroundImg{
  width: calc(100px + 16.355vw);
  height: calc(100px + 16.355vw);
  background-size: cover;
}