.SectionCard {
  text-align: center;
}
.SectionCard > p {
  text-align: left;
}
.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 25vw;
  height: auto;
  background-color: rgba(208, 0, 255, 0.53);
  border-radius: 25px;
}