
.Home {
  text-align: center;
}
.Citation {
  display: flex;
  justify-content: space-between;
}
q {
  max-width: 48%;
  font-size: 25px;
  background-color: rgba(152, 251, 152, 0.77);
  border-radius: 25px;
  padding: .4rem
}
.Search {
  height: 8vh;
  padding: .4rem .8rem;
  border-radius: 25px;
  box-shadow: 1px 4px 12px 0 rgba(0, 0, 0, 0.40);
  background-color: rgba(176, 176, 176, 0.38);
}
#search-product {
  width: 90%;
  height: 5vh;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}
.SectionCard {
  text-align: center;
  margin-top: 50px;
}
.SectionCard > p {
  text-align: left;
}
.container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 25px;
  width: 100vw;
  max-width: 320px;
  height: auto;
  background-color: aqua;
  padding: 0 2%;
  overflow: hidden;
  box-shadow: 0 0 13px 4px #0404043b
}

.ContainerImg {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 0 13px 4px #04040475
}
.ContainerImg img {
  width: 100%;
  height: 100%;

}
.BackgroundImg{
  width: calc(100px + 16.355vw);
  height: calc(100px + 16.355vw);
  background-size: cover;
}